#wrapper {
  position: relative;
  height: 192px;
  width: 192px;
  border-radius: 100%;
}

button {
  border: 2px solid rgba(255, 255, 255, 0);
  height: 192px;
  width: 192px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Bebas Neue";
  transition: "all";
  transition-duration: 1s;
  position: relative;
  color: white;
}

#wrapper:hover button {
  border: 2px solid rgba(255, 255, 255, 0.8);
}

#scale_effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
