@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  position: relative;
}
